<%= render "home" %>
<h1>Contact</h1>
<div id="container">
	<%= link_to image_tag("facebook.jpg", :alt => "facebook"), "https://www.facebook.com/DarceyLachtman"%>
	<%= link_to image_tag("linkedin.jpg", :alt => "linkedin"), "https://www.linkedin.com/in/darceylachtman"%>
	<%= link_to image_tag("github.jpg", :alt => "github"), "https://github.com/dslachtman"%>
	<%= link_to image_tag("twitter.jpg", :alt => "twitter"), "https://twitter.com/DarSheKnows"%>
	<%= link_to image_tag("blogspot.jpg", :alt => "blogspot"), "http://darcey-lachtman-design.blogspot.com/"%>
	<%= link_to image_tag("tumblr.jpg", :alt => "tumblr"), "http://darceylachtman.tumblr.com/"%>
	<h2> dslachtman@gmail.com</h2>
	<h2>(650)799-9406</h2>
</div>

<%= render "bubbs" %>