<div id="background">
	
</div>
<div id="name">
	<h1>Darcey &nbsp; Lachtman</h1>
</div>
<div id="menu">
	<div id="first">
		<div class="item">
			 <%= link_to image_tag("project.png", :alt => "project"), "/projects" %>
			<h2>Projects</h2>
		</div>
		<div class="item">
			<%= link_to image_tag("vector.png", :alt => "vector"), "/vectors" %>
			<h2>Vectors</h2>
		</div>
		<div class="item">
			<%= link_to image_tag("photography.png", :alt => "photography"), "/photography" %>
			<h2>Photography</h2>
		</div>
	</div>
	<div id="second">
		<div class="item">
			<%= link_to image_tag("resume.png", :alt => "resume"), "/resume" %>
			<h2>Resume</h2>
		</div>
		<div class="item">
			<%= link_to image_tag("contact.png", :alt => "contact"), "/contact" %>
			<h2>Contact</h2>
		</div>
		<div class="item">
			<%= link_to image_tag("about.png", :alt => "about"), "/about" %>
			<h2>About Me</h2>
		</div>
	</div>
</div>