<%= render "home" %>
<h1>Photography</h1>


<div id="gallery">
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/IMG_0022_2.jpg", :alt => "1") %>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zIMG_0022_2.jpg", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/IMG_0050.JPG", :alt => "2")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zIMG_0050.JPG", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/IMG_0123.JPG", :alt => "3")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zIMG_0123.JPG", :alt => "2") %></span>
		<% end %>	
	</div>

	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/DSC03883.JPG", :alt => "2")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zDSC03883.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/DSC04017.JPG", :alt => "1")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zDSC04017.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/DSC03944.JPG", :alt => "3")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zDSC03944.JPG", :alt => "2") %></span>
		<% end %>	
	</div>


	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/IMG_2872.jpg", :alt => "2")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zIMG_2872.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/IMG_1608.jpg", :alt => "1")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zIMG_1608.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/IMG_2961.JPG", :alt => "3")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/zIMG_2961.JPG", :alt => "2") %></span>
		<% end %>	
	</div>

	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/1.jpg", :alt => "1")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z1.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/2.jpg", :alt => "2")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z2.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/3.jpg", :alt => "3")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z3.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/4.jpg", :alt => "4")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z4.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/5.jpg", :alt => "5")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z5.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/6.jpg", :alt => "6")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z6.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/7.jpg", :alt => "7")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z7.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/8.jpg", :alt => "8")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z8.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/9.jpg", :alt => "9")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z9.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/11.jpg", :alt => "11")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z11.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/13.jpg", :alt => "13")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z13.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/15.jpg", :alt => "15")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z15.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/16.jpg", :alt => "16")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z16.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/17.jpg", :alt => "17")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z17.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/18.jpg", :alt => "18")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z18.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/19.jpg", :alt => "19")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z19.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/20.jpg", :alt => "20")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z20.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/21.jpg", :alt => "21")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z21.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/22.jpg", :alt => "22")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z22.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/23.jpg", :alt => "23")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z23.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/25.jpg", :alt => "25")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z25.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/24.jpg", :alt => "24")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z24.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/26.jpg", :alt => "26")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z26.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/27.jpg", :alt => "27")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z27.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
	<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/28.jpg", :alt => "28")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z28.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/29.jpg", :alt => "29")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z29.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/30.jpg", :alt => "30")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z30.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/31.jpg", :alt => "31")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z31.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/32.jpg", :alt => "32")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z32.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/33.jpg", :alt => "33")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z33.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/34.jpg", :alt => "34")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z34.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/35.jpg", :alt => "35")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z35.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/36.jpg", :alt => "36")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z36.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/37.jpg", :alt => "37")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z37.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/38.jpg", :alt => "38")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z38.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/39.jpg", :alt => "39")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z39.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/40.jpg", :alt => "40")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z40.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/41.jpg", :alt => "41")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z41.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/42.jpg", :alt => "42")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z42.jpg", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/43.jpg", :alt => "43")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z43.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/44.jpg", :alt => "44")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z44.JPG", :alt => "2") %></span>
		<% end %>	
	</div>
	<div class="vect">
		<%= link_to "#", :class => "thumbnail" do %>
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/45.jpg", :alt => "45")%>
		<span><%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/z45.JPG", :alt => "2") %></span>
		<% end %>	
	</div>

</div>
<%= render "cntct" %>