<%= render "home" %>
<div class="title">
	<h1>Vectors</h1>

</div>
<div id="gallery">
		<div class="vect">
		<%= link_to image_tag("work-04.jpg")%>
	</div>

	<div class="vect">
		<%= link_to image_tag("work-07.jpg")%>
	</div>
	<div class="vect">
		<%= link_to image_tag("work-05.jpg") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("opal.jpg") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("parents.jpg")%>
	</div>
	<div class="vect">
		<%= link_to image_tag("the_road.jpg") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("work-02-thumb.jpg", :alt => "bear") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("work-08.jpg", :alt => "moose")%>
	</div>
	<div class="vect">
		<%= link_to image_tag("work-01-thumb.jpg", :alt => "1") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("work-03-thumb.jpg", :alt => "bear") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("work-06.jpg", :alt => "moose")%>
	</div>
	<div class="vect">
		<%= link_to image_tag("work-09.jpg", :alt => "1") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("tractor.png", :alt =>"tractor")%>
	</div>
	<div class="vect">
		<%= link_to image_tag("couch.png", :alt => "couch") %>
	</div>
	<div class="vect">
		<%= link_to image_tag("car.png", :alt => "car") %>
	</div>
	<div class="vect">
		<%=link_to image_tag("treegirl.png", :alt => "treegirl")%>
	</div>
	<div class="vect">
		<%= link_to image_tag("odd_couple.png", :alt => "oddcouple") %>
	</div>
	<div class="vect">
		<%=link_to image_tag("destroyer.png", :alt => "destroyer") %>
	</div>


</div>
<%= render "cntct" %>