<%= render "home" %>
<div class="title">
	<h1>Vectors</h1>

</div>
<div id="gallery">
	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-04.jpg", :alt => "1")%>
		<span><%= image_tag("L_work-04.jpg", :alt => "2") %></span>
		<% end %>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-07.jpg", :alt => "1")%>
		<span><%= image_tag("L_work-07.jpg", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-05.jpg", :alt => "1") %>
		<span><%= image_tag("L_work-05.jpg", :alt => "2") %></span>
		<% end %>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%=  image_tag("opal.jpg", :alt => "1") %>
		<span><%= image_tag("L_opal.jpg", :alt => "2") %></span>
		<% end %>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("parents.jpg", :alt => "1")%>
		<span><%= image_tag("L_parents.jpg", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("the_road.jpg", :alt => "1") %>
		<span><%= image_tag("L_the_road.jpg", :alt => "2") %></span>
		<% end %>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-02-thumb.jpg", :alt => "1")%>
		<span><%= image_tag("L_work-02.jpg", :alt => "2") %></span>
		<% end %>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-08.jpg", :alt => "1")%>
		<span><%= image_tag("L_work-08.jpg", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-01-thumb.jpg", :alt => "1")%>
		<span><%= image_tag("L_work-01.jpg", :alt => "2") %></span>
		<% end%>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-03-thumb.jpg", :alt => "1")%>
		<span><%= image_tag("L_work-03.jpg", :alt => "2") %></span>
		<% end %>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%=  image_tag("work-06.jpg", :alt => "1")%>
		<span><%= image_tag("L_work-06.jpg", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("work-09.jpg", :alt => "1") %>
		<span><%= image_tag("L_work-09.jpg", :alt => "2") %></span>
		<% end %>
	</div>

	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("treegirl.png", :alt => "1")%>
		<span><%= image_tag("Savior.jpg", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%=  image_tag("odd_couple.png", :alt => "1")%>
		<span><%= image_tag("odd_couple.jpg", :alt => "2") %></span>
		<% end %>
	</div>
	<div class="vect">
		<%= link_to "thumbnail", :class => "thumbnail" do %>
		<%= image_tag("destroyer.png", :alt => "1")%>
		<span><%= image_tag("Destroyer-01.jpg", :alt => "2") %></span>
		<% end %>
	</div>


</div>
<%= render "cntct" %>