<%= render "home" %>
<div class="title">
	<h1>Vectors</h1>
	<h4>(click to enlarge)</h4>
</div>
<div id="gallery">
	
	<div class="vect">
		<%= link_to image_tag("bison.png", :alt => "bison"), "http://3.bp.blogspot.com/-6cPgQ4CzbIk/U2mKURfXJVI/AAAAAAAAC4w/_7xN3ZsYBeE/s1600/bison.png" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("bear.png", :alt => "bear"), "http://4.bp.blogspot.com/-RvtsBU5WLGg/Uv1Ht4GUmQI/AAAAAAAACvQ/GuPeucV1Dqg/s1600/bear2.png" %>
	</div>

	<div class="vect">
		<%= link_to image_tag("moose.png", :alt => "moose"), "http://1.bp.blogspot.com/-4CQUrkExRVA/Uxvzjs0uG_I/AAAAAAAACzo/TUlapeJfKXI/s1600/Bigbullmoose.png"%>
	</div>
	<div class="vect">
		<%= link_to image_tag("tractor.png", :alt =>"tractor"), "http://1.bp.blogspot.com/-UfeI-mGXZ0A/UxvmRjtv68I/AAAAAAAACwc/ruO2miTpsxk/s1600/tractor.png"%>
	</div>
	<div class="vect">
		<%= link_to image_tag("couch.png", :alt => "couch"), "http://4.bp.blogspot.com/-jev9uy_oOvY/UxvmTDopdyI/AAAAAAAACwk/y8TwJsyr7So/s1600/couch.png" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("car.png", :alt => "car"), "http://4.bp.blogspot.com/-uaKDnGImhug/UxvmQfB_rYI/AAAAAAAACwU/SqZdTXiuaFE/s1600/car+.png" %>
	</div>
	<div class="vect">
		<%=link_to image_tag("treegirl.png", :alt => "treegirl"), "http://3.bp.blogspot.com/-F-ykAKMu5JE/URLV8x8G4JI/AAAAAAAACSU/FreEXzicZH4/s1600/Savior.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("odd_couple.png", :alt => "oddcouple"), "http://4.bp.blogspot.com/-jQk9n4DGtiY/URLV9McjPBI/AAAAAAAACSY/vph2GTGrEO0/s1600/odd_couple.jpg" %>
	</div>
	<div class="vect">
		<%=link_to image_tag("destroyer.png", :alt => "destroyer"), "http://4.bp.blogspot.com/-4V1euo_X3Lo/URLYYCKYLoI/AAAAAAAACSs/SQOfh7dhyiQ/s1600/Destroyer1.jpg" %>
	</div>
	<div class="vect">
		<%=link_to image_tag("why.png", :alt => "why"), "http://1.bp.blogspot.com/-hQVFGneIJNc/U1k3AyCxw4I/AAAAAAAAC3w/alpagMqZ9Cs/s1600/this_is_why.png" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("fun.png", :alt => "fun"), "http://2.bp.blogspot.com/-5EmNcKP8MpA/U2mH0ZkoYWI/AAAAAAAAC4k/3L_awUH1cQ0/s1600/funandgames+copy.png" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("spiral.png", :alt => "spiral"), "http://1.bp.blogspot.com/-LCoiijgEZSg/Ut1N3um1w0I/AAAAAAAACso/YN2ImQKnZc8/s1600/Screen+Shot+2014-01-20+at+8.23.24+AM.png" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("info.png", :alt => "info"), "http://2.bp.blogspot.com/-BquvyfyrgPk/Uh1BLl4DqXI/AAAAAAAACnM/gGoFq1GUk10/s1600/info-01.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("down.png", :alt => "down"), "http://4.bp.blogspot.com/-_bmsLKHw0LY/URRFy49YgOI/AAAAAAAACWY/JaRXt8Nu8MU/s1600/GPhiDown.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("activities.png", :alt => "activities"), "http://1.bp.blogspot.com/-OUoPNWhRMsc/Uh1BIbEiqZI/AAAAAAAACnE/VeYZNxVO-qA/s1600/activities_info-01.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("operahouse.png", :alt => "operahouse"), "http://2.bp.blogspot.com/-zzfGsu5mLbU/Tj-BZx-xa3I/AAAAAAAABiM/wDorBtAsUWM/s1600/operahousevector-01.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("parents.png", :alt => "parents"), "http://4.bp.blogspot.com/-5Escz1rNH0o/URRDreqZY7I/AAAAAAAACWA/_pmvOKnfdHk/s1600/parents.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("opal.png", :alt => "opal"), "http://4.bp.blogspot.com/-qpCAVs-I324/U2mE_PXm9KI/AAAAAAAAC4Y/mPQgSvPmgW8/s1600/opal-01+copy.jpg" %>
	</div>


</div>
<%= render "cntct" %>