<%= render "home" %>
<h1>Vectors</h1>
<div id="gallery">
	<div class="vect">
		<%= link_to image_tag("bear.png", :alt => "bear"), "http://4.bp.blogspot.com/-RvtsBU5WLGg/Uv1Ht4GUmQI/AAAAAAAACvQ/GuPeucV1Dqg/s1600/bear2.png" %>
	</div>
	<div class="vect">
		<%=link_to image_tag("why.png", :alt => "why"), "http://1.bp.blogspot.com/-hQVFGneIJNc/U1k3AyCxw4I/AAAAAAAAC3w/alpagMqZ9Cs/s1600/this_is_why.png" %>
	</div>
	
	<div class="vect">
		<%= link_to image_tag("moose.png", :alt => "moose"), "http://1.bp.blogspot.com/-4CQUrkExRVA/Uxvzjs0uG_I/AAAAAAAACzo/TUlapeJfKXI/s1600/Bigbullmoose.png"%>
	</div>
	<div class="vect">
		<%=link_to image_tag("treegirl.png", :alt => "treegirl"), "http://3.bp.blogspot.com/-F-ykAKMu5JE/URLV8x8G4JI/AAAAAAAACSU/FreEXzicZH4/s1600/Savior.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("odd_couple.png", :alt => "oddcouple"), "http://4.bp.blogspot.com/-jQk9n4DGtiY/URLV9McjPBI/AAAAAAAACSY/vph2GTGrEO0/s1600/odd_couple.jpg" %>
	</div>
	<div class="vect">
		<%=link_to image_tag("destroyer.png", :alt => "destroyer"), "http://4.bp.blogspot.com/-4V1euo_X3Lo/URLYYCKYLoI/AAAAAAAACSs/SQOfh7dhyiQ/s1600/Destroyer1.jpg" %>
	</div>
	<div class="vect">
		<%= image_tag("fun.png", :alt => "fun") %>
	</div>

	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
</div>