<%= render "home" %>
<h1>Vectors</h1>
<div id="gallery">
	<div class="vect">
		<%=image_tag("why.png", :alt => "why") %>
	</div>
	<div class="vect">
		<%= image_tag("bear.png", :alt => "bear")%>
	</div>
	<div class="vect">
		<%= image_tag("fun.png", :alt => "fun") %>
	</div>
	<div class="vect">
		<%=image_tag("treegirl.png", :alt => "treegirl") %>
	</div>
	<div class="vect">
		<%= image_tag("moose.png", :alt => "moose")%>
	</div>
	<div class="vect">
		<%=image_tag("odd_couple.png", :alt => "oddcouple") %>

	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
	<div class="vect">
	</div>
</div>