<%= render "home" %>
<div class="title">
	<h1>Vectors</h1>
</div>
<div id="gallery">
	
	<div class="vect">
		<%= link_to image_tag("bison.png", :alt => "bison") %>
	</div>
	<div class="vect">
		<%= link_to image_tag("bear.png", :alt => "bear") %>
	</div>

	<div class="vect">
		<%= link_to image_tag("moose.png", :alt => "moose")%>
	</div>
	<div class="vect">
		<%= link_to image_tag("tractor.png", :alt =>"tractor"), "http://1.bp.blogspot.com/-UfeI-mGXZ0A/UxvmRjtv68I/AAAAAAAACwc/ruO2miTpsxk/s1600/tractor.png"%>
	</div>
	<div class="vect">
		<%= link_to image_tag("couch.png", :alt => "couch"), "http://4.bp.blogspot.com/-jev9uy_oOvY/UxvmTDopdyI/AAAAAAAACwk/y8TwJsyr7So/s1600/couch.png" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("car.png", :alt => "car"), "http://4.bp.blogspot.com/-uaKDnGImhug/UxvmQfB_rYI/AAAAAAAACwU/SqZdTXiuaFE/s1600/car+.png" %>
	</div>
	<div class="vect">
		<%=link_to image_tag("treegirl.png", :alt => "treegirl"), "http://3.bp.blogspot.com/-F-ykAKMu5JE/URLV8x8G4JI/AAAAAAAACSU/FreEXzicZH4/s1600/Savior.jpg" %>
	</div>
	<div class="vect">
		<%= link_to image_tag("odd_couple.png", :alt => "oddcouple"), "http://4.bp.blogspot.com/-jQk9n4DGtiY/URLV9McjPBI/AAAAAAAACSY/vph2GTGrEO0/s1600/odd_couple.jpg" %>
	</div>
	<div class="vect">
		<%=link_to image_tag("destroyer.png", :alt => "destroyer"), "http://4.bp.blogspot.com/-4V1euo_X3Lo/URLYYCKYLoI/AAAAAAAACSs/SQOfh7dhyiQ/s1600/Destroyer1.jpg" %>
	</div>


</div>
<%= render "cntct" %>