<!DOCTYPE html>
<html>
<head>
  <title>Darcey Lachtman</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Dancing+Script|Bangers|Lobster+Two|Didact+Gothic' rel='stylesheet' type='text/css'>
</head>
<body style="cursor: url(favicon.ico),auto;
">
	<div id="left">
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/linez.png", :alt =>"line") %>
	</div>
	<div id="right">
		<%= image_tag("https://s3-us-west-1.amazonaws.com/darceyselmaimages/linez2.png", :alt =>"line") %>
	</div>

<%= yield %>

</body>
</html>
